body {
	font-family:'Open Sans', sans-serif;
	padding:0;
	margin:0;
	color:rgba(0,0,0,.8);
}

a {
	text-decoration:none;
	color:rgba(0,0,0,.8);
}

p a {
	border-bottom:1px solid rgba(72, 81, 51, .4);
}

b {
	color:rgba(72, 81, 51, .8);
}


h1 {
	font-family:'Lora', serif;
	font-size:2.5em;
	margin-top:-.4em;
	font-weight:normal;
}

h2 {
	font-size:2em;
	font-family:'Lora', serif;
	font-weight:normal;
        margin:1em 0;
}

h3 {
	font-weight:700;
	font-size:1.1em;
}

h4 {
	text-transform:uppercase;
	font-size:.9em;
	font-weight:900;
	color:rgba(72, 81, 51, .7);
	letter-spacing:.04rem;
	font-family:'Open Sans', sans-serif;
}

h5 {
	font-family:'Open Sans', sans-serif;
	text-transform:uppercase;
	font-size:.7em;
	font-weight:900;
	color:rgba(72, 81, 51, .7);
	letter-spacing:.04rem;
	margin-bottom:-.5em;
}

h6 {
        font-size:1.4em;
        font-family:'Lora', serif;
        font-weight:normal;
}

header {
	padding:1.6em;
	background:#b4c689;
	margin:0;
	z-index:9;
}

#block {
	position:fixed;
	top:0;
	background:#b4c689;
	left:0;
	right:0;
	height:.9em;
	z-index:0;
}

#body {
	width:70%;
	z-index:-9;
	margin:80px auto;
	font-family:'Lora', serif;
}

#menu {
	position:fixed;
	right:-50%;
	text-align:right;
	margin-top:-4em;
	opacity:0;
	transition-duration:500ms;
}

#links {
	text-align:right;
}

#links a, #menu a {
	display:block;
	padding-right:1em;
	margin-top:.3em;
	padding-bottom:.3em;
	color:rgba(0,0,0,.5);
	font-weight:700;
	letter-spacing:.01rem;
	font-size:.9em;
	transition-duration:400ms;
}

#links a:hover {
	color:rgba(255,255,255,.5);
}

#menu a {
	color:rgba(72, 81, 51, .8);
	margin-top:1.3em;
	letter-spacing:.01rem;
	border-right:2px solid rgba(0,0,0,.05);
	padding-bottom:none;
	font-family:'Lora', serif;
}
.num {
	display:block;
	font-size:.8em;
	font-weight:900;
	font-family:'Open Sans', sans-serif;
}

#menu a:hover {
	border-right-color:#b4c689;
}

.short_bio {
	margin-top:8em;
	font-size:1em;
	letter-spacing:.01rem;
	line-height:200%;
	font-weight:400;
}

.tagline {
	padding-bottom:1em;
	font-size:1.2em;
	line-height:180%;
}

.gap {
	height:7em;
	display:block;
}

.table {
	width:100%;
	display:table;
}

.row {
	display:table-row;
	width:100%;
}

.row div {
	display:table-cell;
}

.r {
	text-align:right;
	right:0;
}

.footnotes {
	font-style:italic;
	font-size:.8em;
	margin-top:50px;
}

ul {
	list-style-type:none;
}

.left-aligned li {
	list-style-position:0;
	padding:0;
	margin-left:-40px;
	left:0;
}

.proj-name {
	font-weight:bold;
	font-size:1.1em;
	display:block;
        margin-top:15px;
}
